.App {
  text-align: center;

  
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat/static/Montserrat-SemiBold.ttf")
}

@font-face {
  font-family: "Montserrat-thin";
  src: url("../public/Montserrat/Montserrat-VariableFont_wght.ttf")
}



*{
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 100px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  
}

#banner{
  background-image: url('./images/Banner\ Image-long.png');
  background-repeat: no-repeat;
  width:100vw;
  height: 400px;
}

#modal-close-btn{
  position: fixed;
  font-size: 40px;
  left: 75vw;
  bottom: 80vh;
}

#cart-modal{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}




#video-popup-1{
  position: fixed;
    z-index: 100000;
    top: 0;
    width: 100vw ;
    height: 100vh;
    left: 0;
    background: #000000a6;
   
    justify-content: center;
    align-items: center;
    overflow: scroll;
}


form{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

p{
  font-family: "Montserrat-thin";
}

h5{
  font-size: 12px !important
}

input{
  height: 35px;
   border: 1px solid rgba(49, 87, 135, 1);
   border-radius : 5px;
   width: 10vw;
}

#form-btn{
  background: linear-gradient(90deg, #FF7200 0.93%, #FC9500 100%);
  border-radius: 4px;
}
#video-player{
  background-image: url('./images/IMG_9806.jpg');
  position: relative;

  width: 497px;
  height: 305px;
  background-position: center;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#video-player-btn{
  background-image: url('./images/Oval.png');
  width: 197px;
  height: 150px;
  margin-left: 20%;
  background-repeat: no-repeat;
}

#hero-section{
  background-image: url('./images/back.png');
  min-height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;

  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li{
 margin-right: 20px;
 color: white
}



@media screen and (max-width: 767px) {
  #section-pic{
    display: none !important;
  }

  #banner{
    display: none;
  }

  #products-section{
    top: 1vh !important;

  }

  #checkout-btn{
    width: 60vw !important;
  }

#cart-modal{
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.4);
  width: 100vw !important;
  position: absolute;
  top: 0vh !important;
  right: 0vw !important;
  min-height: 60vh;
  border-radius: 2px;
  padding: 1%;
  display: block;
  z-index: 100;
}


  #hero-div{
    flex-direction: column;
    padding: 0% !important;
  }

  #hero-div-text{
    width: 95vw !important;
  }

  #hero-div-text p{
    display: none
  }

  #hero-div-text h1{
    text-align: center;
  }

  #video-player{
    display: none;
  }

  #form-div{
    padding: 0% !important;
  }

  form{
   min-width: 100vw !important;
    margin-bottom: 20px;
  }

  input{
    width: 40vw;
  }

  #bottom-input{
    width: 83vw !important;
  }

  button{
    width: 83vw !important;
  }

  #form-p{
    width: 90vw !important;
  }

  #reviews-section{
    flex-direction: column-reverse;
  }

  #review{
    width: 90% !important;
  }

  #products-section{
    flex-direction: column;
  }

  #product-item{
    width: 85vw !important;
    margin: 8% !important
  }

  #order-btn{
    width: 35vw !important
  }
  

}



@media screen and (min-width: 767px) {
  #hero-div-text-mobile{
    display: none;
  }

}

a{
  color: white !important;
  text-decoration: none !important;
}


#video-player-mobile{
  background-image: url('./images/IMG_9806.jpg');
  position: relative;

  width:387px;
  height: 305px;
  background-position: center;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
}